<script type="text/javascript"> var session_id = '<%= session_id %>';</script>
<script src='/jquery.min.js'></script>
<script src='/date.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
<link rel="stylesheet" href="/client.css"/>
 <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
 <meta name="author" content="Amin Developer!" />

 <title>Movie - Kedarnath</title>
 <script type="text/javascript">
   
   function failed(e) {
      // video playback failed - show a message saying why
      switch (e.target.error.code) {
        case e.target.error.MEDIA_ERR_ABORTED:
          alert('You aborted the video playback.');
          break;
        case e.target.error.MEDIA_ERR_NETWORK:
          alert('A network error caused the video download to fail part-way.');
          break;
        case e.target.error.MEDIA_ERR_DECODE:
          alert('The video playback was aborted due to a corruption problem or because the video used features your browser did not support.');
          break;
        case e.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
          alert('The video could not be loaded, either because the server or network failed or because the format is not supported.');
          break;
        default:
          alert('An unknown error occurred.');
          break;
      }
    }
 </script>
</head>
<body>
<b>Server: </b><%= server %> <br>
<br/>
<% if(user) { %>
<b>User: </b> <label id="user"><%= user %></label> 
<% } %>


<div id="ask" class="bordered" style="display: none;">
    Name: <input type="text" id="name"/> <a href="#"><span class="join">Join!</span></a>
</div>
<br>
<br>
<% if(session_id) {%>
<b>Session: </b><%= session_id %><br>
<b>Movie: </b><%= movieSession.movie_name %><br>
<b>Creator: </b><%= movieSession.user %><br><br>
<div id="channel" class="bordered" style="display: none;">
    <div id="input">
       <button class="action" id="play"> Play </button>
       <button class="action" id="pause"> Pause </button>
    </div>

    <div>
        <div id="videoplayer" style="width: 80%;float:left;">
            <p><video id="myVideo" src="https://gocomet-assets.s3.ap-south-1.amazonaws.com/Kedarnath+2018+Hindi+www.downloadhub.wiki+720p+HDRip+ESubs.mkv" type='video/x-matroska; codecs="theora, vorbis"' autoplay="true"
    muted="muted" controls onerror="failed(event)" style="width: 100%;">
            </video></p>
            <p><a href="YOU mkv FILE LINK GOES HERE TO DOWNLOAD">Download the video file</a>.</p>
        </div>
        


        <div id="msgs" style="width: 20%;float:left;">
            <h4>Server: <%= server %></h4>
            <ul>
                <li class="message" style="display: none">
                    <span class="message"></span>
                </li>
            </ul>
        </div>
    </div>

</div>
<% } else {%>
<div id="channel" class="bordered" style="">
    <ul>
      <% for (var i = 0; i < movies.length; i++) { %>
        <li> <%= movies[i].data.movie_name %> <a href="stream/<%= movies[i].key %>" >stream</a></li>
      <% }; %>
    </ul>
</div>
<% } %>

</body>
</html>